<%- include('../pages/header'); -%>

<!-- affichage du commentaire -->

<div class="ui comments">
   <h3 class="ui dividing header">Commentaires</h3>
    <div class="comment">
        <a class="avatar" href="/message/<%=message.Id%>">
            <img src="https://randomuser.me/api/portraits/lego/3.jpg">
        </a>

        <div class="content">
            <div class="metadata">
                <div class="date">
                    <%=message.CreateAt.fromNow()%>
                </div>
            </div>
             <div class="text"><%=message.Content%></div>
        </div>
    </div>
   
</div>

<%- include('../pages/footer'); -%>  